In [1]:
import pandas as pd

In [4]:
melbourne_data=pd.read_csv("melb_data.csv")
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
#dropping the data that doesn't have any values
melbourne_data=melbourne_data.dropna(axis=0)

In [7]:
#dot-notation we will pick the target column
y=melbourne_data.Price

In [9]:
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
9        1097000.0
11       1350000.0
12        750000.0
15       1310000.0
16       1200000.0
17       1176500.0
19        890000.0
20       1330000.0
23        500000.0
24       1100000.0
25       1315000.0
27       1447500.0
29       1135000.0
32       1290000.0
33        470000.0
34       1180000.0
35       1195000.0
36       1012500.0
37       1030000.0
38        840000.0
39        730000.0
40        770000.0
41        603000.0
42        700000.0
43        600000.0
           ...
12154     880000.0
12156     945000.0
12157     730000.0
12159     980000.0
12164     570000.0
12168     600000.0
12169     360000.0
12171     475000.0
12172     495000.0
12173     695000.0
12174     760000.0
12175     583500.0
12177     585000.0
12180    1245000.0
12181    2000000.0
12183     407000.0
12186     891000.0
12187     615500.0
12188     300000.0
12192    1310000.0
12197     645000.0
12198     482500.0
12199     394000.0
12202     821000.0
12203     635000.0
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [11]:
melbourne_features=['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [14]:
#x=features
X=melbourne_data[melbourne_features]
X

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
9          2       1.0     220.0  -37.80100   144.99890
11         3       2.0     214.0  -37.80850   144.99640
12         2       2.0       0.0  -37.80780   144.99650
15         2       1.0     238.0  -37.80900   144.99760
16         3       2.0     113.0  -37.80560   144.99300
17         3       1.0     138.0  -37.80210   144.99650
19         2       1.0     150.0  -37.80110   145.00040
20         4       2.0     780.0  -37.80730   144.99520
23         2       1.0       0.0  -37.80150   144.99720
24         2       2.0     124.0  -37.80790   144.99770
25         2       1.0     147.0  -37.80800   144.99400
27         3       3.0     166.0  -37.80170   145.00010
29         2       2.0      98.0  -37.80050   144.99520
32         3       1.0     168.0  -37.80070   144.99580
33         1       1.0       0.0  -37.80550   144.99610
34         2       1.0     162.0  -37.80160   144.99560
35         3       2.0     120.0  -37.80220   144.99540
36         2       1.0     182.0  -37.80210   144.99760
37         2       1.0     172.0  -37.80860   144.99460
38         3       2.0     303.0  -37.71800   144.87800
39         3       2.0       0.0  -37.72030   144.87550
40         3       2.0       0.0  -37.72030   144.87550
41         2       1.0     272.0  -37.72940   144.88800
42         3       2.0     239.0  -37.72180   144.88370
43         3       1.0     290.0  -37.72730   144.87440
...      ...       ...       ...        ...         ...
12154      4       2.0     535.0  -38.09683   145.12981
12156      2       1.0     126.0  -37.80473   144.89095
12157      3       2.0     340.0  -37.83172   144.86683
12159      2       1.0      64.0  -37.83326   144.95464
12164      2       1.0       0.0  -37.84679   145.00206
12168      2       1.0       0.0  -37.85911   144.97900
12169      2       1.0     143.0  -37.57063   144.70693
12171      3       1.0     754.0  -37.58442   144.75565
12172      3       2.0     563.0  -37.57499   144.75329
12173      3       1.0     694.0  -37.78871   144.81369
12174      3       1.0    1143.0  -37.79135   144.79948
12175      3       1.0     672.0  -37.80118   144.80996
12177      3       2.0     662.0  -37.70525   144.75699
12180      3       2.0     779.0  -37.76311   145.10494
12181      6       3.0    1054.0  -37.77404   145.11703
12183      2       1.0     140.0  -37.68199   145.01744
12186      3       2.0     199.0  -37.75948   144.99615
12187      3       2.0     238.0  -37.70322   144.88236
12188      2       1.0       0.0  -37.69815   144.88019
12192      5       3.0     818.0  -37.87846   145.24212
12197      4       2.0     555.0  -37.89359   144.66911
12198      4       2.0     533.0  -37.89337   144.64003
12199      3       2.0     287.0  -37.87895   144.67070
12202      4       3.0     544.0  -37.67841   144.87924
12203      3       2.0     691.0  -37.68026   144.88468
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]

In [16]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [18]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [21]:
from sklearn.tree import DecisionTreeRegressor
#Defing the model
melbourne_model=DecisionTreeRegressor(random_state=1)
#Fit the model
melbourne_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [26]:
print("Making predictions for the first 5 houses in our data set: ")
print(X.head())
print("The predictions are:")
print(melbourne_model.predict(X.head()))

Making predictions for the first 5 houses in our data set:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are:
[1035000. 1465000. 1600000. 1876000. 1636000.]